:root {
    /*Color*/
    --color-gold: #B0A381;
    --color-bright-gold: #D0BC8A;
    --color-black: #191919;
    --color-grey: #707070;
    --color-light-grey: #fafafa;
    --color-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html, body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

/*Typography*/
h1 {
    font-size: 32px;
    font-weight: 500;
}

h2{
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
}

/*Header*/
header {
    width: 100%;
    position: fixed;
    top:0;
    padding: 45px 60px;
    z-index: 1;
}

header.navbar-bk {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px 60px;
    z-index: 2;
}

header ul {
    display: flex;
}

header .left-menu {
    float: left; 
    
}

header ul:last-of-type {
    float: right;
}

header li {
    margin: 0 10px;
    font-size: 14px;
}

header li a:hover {
    color: var(--color-gold);
}

header li a {
    color: var(--color-white);
}

header .logo {
    position: absolute;
    top: 32%;
    left: 45%;
}

header button {
    display: none;
}

.logo {
    width: 164px;
}

/*Navbar*/
nav {
    background-color: rgba(255,255,255,0.9);
    width: 30%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    padding: 150px 0 0 50px;
    font-size: 20px;
}

nav h2 {
    margin-bottom: 40px;
}

nav li a {
    line-height: 35px;
    color: var(--color-black);
}

nav svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top:0;
    right:0;
    margin: 30px 40px;
}

.perfume-navbar {
    display: none;
}

.perfume-navbar.open {
    display: block;
}

.skin-navbar {
    display: none;
}

.skin-navbar.open {
    display: block;
}

/*Filter opens when nav*/
.filter {
    background-color: rgba(0, 0, 0, 0.4);
    width: 70%;
    height: 100%;
    position: fixed;
    top:0;
    right:0;
    z-index: 2;
    display: none;
}

.filter.active {
    display: block;
}

body.active {
    overflow: hidden;
}

/*Campaign video*/
.campaign-video {
    position: relative;
    top:0;
    left:0;
}

.overlay {
    color: white;
    position: absolute;
    bottom: 8px;
    width: 100%;
    margin: auto;
    text-align: center;    
}

.overlay p:first-child {
    font-size: 24px;
    margin-bottom: 50px;
}

.overlay button {
    border: 4px solid var(--color-white);
    width: 220px;
    height: 50px;
    color: var(--color-white);
    font-size: 16px;
    margin-bottom: 100px;
}

.overlay button + p {
    font-size: 14px;
    margin-bottom: 8px;
}

svg {
    width: 65px;
    height: 30px;
}

/*Best seller*/
.best-seller {
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.best-seller h1 {
    margin-top: 150px;
}

.best-seller > div:first-of-type {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:50%;
    width: 100%;
    z-index: 1;
}

.best-seller button {
    width: 48px;
    height: 48px;
    background-color: rgba(176,163,129,0.8);
}

.best-seller button > svg {
    vertical-align: middle;
    text-align: center;
    width: 12px;
    height: 20px;
    /* margin: 0 16px; */
}

.best-seller ul {
    max-width: 300vw;
    display: flex;
    overflow: hidden;
}

.best-seller li {
    background-color: var(--color-light-grey);
    width:256px;
    height: 256px;
    border-radius: 50%;
    margin: 50px 20px;
    transition: transform 0.5s;
}

.best-seller img {
    width:256px;
    margin-top: 20px;
}

.bar, .bar-gauge {
    border-radius: 100px;
    height: 4px;
}

.bar {
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%; 
    margin: auto;
}

.bar-gauge {
    background-color: var(--color-gold);
    width: 50%;
}

/*Footer*/
footer {
    background: var(--color-light-grey);
    margin-top: 200px;
    padding: 55px 0;  
}

.information {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
}

.information h5 {
    margin-bottom: 8px;
}

.information p, .information li {
    font-size: 11px;
    line-height: 25px;
}

.column-bar {
    background-color: var(--color-white);
    height: 200px;
    width: 2px;
}

.information > div:nth-of-type(1){
    width: 100%;
}

.information > div:nth-of-type(3){
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 1000px){
    /*Typography*/
h1 {
    font-size: 24px;
    font-weight: 500;
}

h2{
    font-size: 16px;
    font-weight: 500;
}

h3 {
    font-size: 14px;
}

    header ul{
        display: none;
    }

    header button {
        display: block;
        color: white;
    }

    /* header {
        background-color: var(--color-black);
        padding: 30px 60px;
    } */
    .campaign-video .overlay {
        display: none;
    }

    .best-seller h1 {
        text-align: center;
    }

    .information {
        flex-wrap: wrap;
        justify-content: center;
    }

    .column-bar {
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }

    header, header.navbar-bk {
        padding: 5% 8%;
    }

    header .logo {
        top: 30%;
        left: 40%;
        width: 100px;
    }

}