:root {
    /*Color*/
    --color-gold: #B0A381;
    --color-bright-gold: #D0BC8A;
    --color-black: #191919;
    --color-grey: #707070;
    --color-light-grey: #fafafa;
    --color-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html, body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

/*Typography*/
h1 {
    font-size: 36px;
    font-weight: 500;
}

h2{
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

/*Header*/
header {
    width: 100%;
    position: fixed;
    top:0;
    padding: 45px 60px;
    z-index: 2;
}

header.navbar-bk {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px 60px;
}

header ul {
    display: flex;
}

header .left-menu {
    float: left; 
    
}

header ul:last-of-type {
    float: right;
}

header li {
    margin: 0 10px;
    font-size: 14px;
}

header li a:hover {
    color: var(--color-gold);
}

header li a {
    color: var(--color-white);
}

header .logo {
    position: absolute;
    top: 32%;
    left: 45%;
}

header button {
    display: none;
}

.logo {
    width: 164px;
}

/*Navbar*/
nav {
    background-color: rgba(255,255,255,0.9);
    width: 30%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    padding: 150px 0 0 50px;
    font-size: 20px;
}

nav h2 {
    margin-bottom: 40px;
}

nav li a {
    line-height: 35px;
}

nav svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top:0;
    right:0;
    margin: 30px 40px;
}

.perfume-navbar {
    display: none;
}

.perfume-navbar.open {
    display: block;
}

.skin-navbar {
    display: none;
}

.skin-navbar.open {
    display: block;
}

.mobile-navbar {
    display: none;
}

.mobile-navbar.open {
    display: block;
}

/*Filter opens when nav*/

.filter {
    position: fixed;
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    height: 100%;
    z-index: 2;
    display: none;
}

.filter.active {
    display: block;
}

body.active {
    overflow: hidden;
}

/*Store*/

.store-img {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
} 

.store-img img, .store-img-filter {
    width: 100vw;
    height: 100%;
}

.store-img-filter {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.store-overlay {
    color: var(--color-white);
    position: absolute;
    top: 160px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.store-overlay h2 {
    margin-bottom: 100px;
}

.store-overlay h3 {
    margin-bottom: 20px;
}

.store-overlay p {
    font-size: 14px;
}

.store-overlay .line {
    background-color: var(--color-white);
    width: 2px;
    height: 20px;
    margin: 20px 0 40px;
}

/*Seoul store*/
.seoul-store {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    color: var(--color-white);
    padding-bottom: 50px;
}

.store {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.seoul-store > p {
    color: var(--color-white);
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}    

.seoul-store .block {
    background-color: var(--color-white);
    width: 20px;
    height: 2px;
    margin: 20px auto 40px;
}

.store div {
    width: 320px;
    margin: 40px;
}

.store span {
    display: inline-block;
    font-size: 16px;
    color: var(--color-white);
    margin-bottom: 8px;
}

.store > div p {
    color: #adadad;
    font-size: 14px;
    line-height: 25px;
}

/*Footer*/
footer {
    background: var(--color-light-grey);
    padding: 55px 0;
    z-index: 2;
}

.information {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
}

.information h5 {
    margin-bottom: 8px;
}

.information p, .information li {
    font-size: 11px;
    line-height: 25px;
}

.column-bar {
    background-color: var(--color-white);
    height: 200px;
    width: 2px;
}

.information > div:nth-of-type(1){
    width: 100%;
}

.information > div:nth-of-type(3){
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 1200px){
    /*Typography*/
    header ul{
        display: none;
    }

    header button {
        display: block;
        color: white;
    }

    .campaign-video .overlay {
        display: none;
    }

    header .logo {
        top: 30%;
        left: 40%;
        width: 140px;
    }

    .store-overlay {
        color: var(--color-black);
        position: relative;
        top:0;
        padding: 20px 0;
    }
    
    .store-overlay h2 {
        margin-bottom: 50px;
    }

    .store-overlay .line {
        background-color: var(--color-black);
        margin: 10px 0 20px;
        height: 15px;
    }

    .mobile-navbar {
        width: 100%;
    }

    .mobile-navbar li:last-child {
        color: var(--color-grey)
    }
    
    nav {
        padding: 80px 0 0 50px;
        background-color: white;
    }

    .information > div:first-child {
        padding: 0 5%;
    }
}

@media screen and (max-width: 760px){
    h1 {
        font-size: 24px;
        font-weight: 500;
    }
    
    h2{
        font-size: 16px;
        font-weight: 500;
    }
    
    h3 {
        font-size: 14px;
    }

    .information {
        flex-wrap: wrap;
        justify-content: center;
    }

    .column-bar {
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }

    header, header.navbar-bk {
        padding: 5% 8%;
    }

    header .logo {
        top: 30%;
        left: 40%;
        width: 110px;
    }

    .mobile-navbar {
        width: 100%;
    }

    .mobile-navbar li:last-child {
        color: var(--color-grey)
    }
    
    nav {
        padding: 80px 0 0 50px;
        background-color: white;
    }

    .store-overlay {
        color: var(--color-black);
        position: relative;
        top:0;
        padding: 20px 0;
    }
    
    .store-overlay h2 {
        margin-bottom: 50px;
    }

    .store-overlay .line {
        background-color: var(--color-black);
        margin: 10px 0 20px;
        height: 15px;
    }
}