:root {
    /*Color*/
    --color-gold: #B0A381;
    --color-bright-gold: #D0BC8A;
    --color-black: #191919;
    --color-grey: #707070;
    --color-light-grey: #fafafa;
    --color-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html, body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

/*Typography*/
h1 {
    font-size: 36px;
    font-weight: 500;
}

h2{
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
}
/*Header*/
header {
    position: fixed;
    top:0;
    width: 100%;
    padding: 45px 60px;
    z-index: 1;
    border-bottom: 1px solid var(--color-gold);
    background-color: var(--color-white);
}

header.navbar-bk {
    background-color: var(--color-black);
    padding: 30px 60px;
}

header ul {
    display: flex;
}

header ul li a {
    color: var(--color-black);
}

header .left-menu {
    float: left;  
}

header ul:last-of-type {
    float: right;
}

header li {
    margin: 0 10px;
    font-size: 14px;
}

header li a:hover {
    color: var(--color-gold);
}

header li a {
    color: var(--color-white);
}

header .logo {
    position: absolute;
    top: 32%;
    left: 45%;
}

/*Navbar*/
nav {
    background-color: rgba(255,255,255,0.9);
    width: 30%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    padding: 150px 0 0 50px;
    font-size: 20px;
}

nav h2 {
    margin-bottom: 40px;
}

nav li a {
    line-height: 35px;
    color: var(--color-black);
}

nav svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top:0;
    right:0;
    margin: 30px 40px;
}

.perfume-navbar {
    display: none;
}

.perfume-navbar.open {
    display: block;
}

.skin-navbar {
    display: none;
}

.skin-navbar.open {
    display: block;
}

/*Filter opens when nav*/

.filter {
    position: fixed;
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 70%;
    height: 100%;
    z-index: 2;
    display: none;
}

.filter.active {
    display: block;
}

body.active {
    overflow: hidden;
}

/*Product section*/
section {
    margin: 210px auto;
    max-width: 1280px;
}

section > h2, section > p {
    text-align: center;
}

section > h2 {
    margin-bottom: 30px;
}

section > p {
    margin-bottom: 20px;
    font-size: 14px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

/*Product*/
.product {
    margin: 10px 10px 100px 10px;

}

.product:hover {
    filter: opacity(60%);
}

.product img {
    width: 400px;
}

.line {
    background-color: var(--color-bright-gold);
    width: 232px;
    height: 1px;
    margin-top: 20px;
}

.product > p, .line {
    margin-left: 84px;
}

.product > p {
    font-size: 12px;
    margin-top: 8px;
}

.product p:nth-last-of-type(2) {
    font-size: 14px;
}

/*Footer*/
footer {
    background: var(--color-light-grey);
    margin-top: 100px;
    padding: 55px 0;  
}

.information {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
}

.information h5 {
    margin-bottom: 8px;
}

.information p, .information li {
    font-size: 11px;
    line-height: 25px;
}

.column-bar {
    background-color: var(--color-white);
    height: 200px;
    width: 2px;
}